.whoweare {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: var(--background);
  overflow: hidden;
}

.whoweare-container {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: var(--foreground);
  clip-path: circle(0% at 50% 50%);
  will-change: clip-path;
  overflow: hidden;
}

.whoweare-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 400vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0%) scale(0.85);
  transform-origin: 10% center;
  will-change: transform;
  overflow: hidden;
  opacity: 0;
}

.whoweare .whoweare-header h1 {
  text-transform: uppercase;
  font-size: 50vw;
  color: var(--background);
}
